/* Цвет основного текста #212121; */
/* Вторичный цвет текста #757575  */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет текста в футоре rgba(255, 255, 255, 0.6); */
/* цвет фона #E5E5E5 */
/* вторычный цвет фона #2F303A */

/* ---------------MAIN--------------- */
body {
	color: #212121;
	background-color: #e5e5e5;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
/* ---------------HEDER--------------- */
.logo-web {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	color: #2196f3;
}
.logo-studio {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	color: #000000;
}
.header-nav {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: #212121;
}
.header-nav:hover,
.header-nav:focus {
	color: #2196f3;
}
.header-contact {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: #757575;
}
.header-contact:hover,
.header-contact:focus {
	color: #2196f3;
}
/* --------------------------PAGE-STUDIO------------------------ */
.main {
	background: #2f303a;
}
.main-preview {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
}
.main-button {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.86;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #ffffff;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
}
.main-list {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #212121;
}
.main-list-item {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 2;
	letter-spacing: 0.03em;
	color: #757575;
}
.main-product {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}
.main-team {
	background: #f5f4fa;
}
.main-team-title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17px;
	color: #212121;
}
.main-team-name {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
}
.main-team-job {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	color: #757575;
}
/* -----------------------FOOTER--------------------------- */
.footer {
	background: #2f303a;
}
.footer-adress {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	color: #ffffff;
}
.footer-contact {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.17;
	color: rgba(255, 255, 255, 0.6);
}
/* --------------------------PAGE-PORTFOLIO------------------------ */
.btn {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	color: #212121;
	cursor: pointer;
}
.btn:hover,
.btn:focus {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	color: #ffffff;
	background-color: #2196f3;
}
.progect {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	color: #212121;
}
.progect-desc {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.9;
	color: #757575;
}
