.body {
  background-color: #e5e5e5;
}
.body-header {
  background-color: #ffffff;
}
.main-preview {
  background-color: #2f303a;
}
.main-features {
  background-color: #e5e5e5;
}
.main-team {
  background-color: #f5f4fa;
}
.footer {
  background-color: #2f303a;
}
